<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name = "Restassured">
    <test name = "Sample Test">
        <classes>
            <class name = "com.restassuredexample.dummytests.Employeetest" />
            <class name = "com.restassuredexample.dummytests.Usertest" />
        </classes>
    </test>
</suite>